body {
}

textarea:disabled {
    resize: none;
    width: 50vw;
    height: 50vh;
}

.gameController {
    resize: none;
    width: 50vw;
    height: 2em;
}

.post-preview a {
    color: #212529;
    font-weight: 400;
}