@inject UserManager<IdentityUser> userManager

<AuthorizeView>
    <Authorized>
        <a href="Account/Manage">Hello, @context.User.Identity.Name!</a>
        <a href="Account/Logout" class="button is-primary">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="Account/Register">Register</a>
        <a href="Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code
{
}