@inherits LayoutComponentBase
@inject UserManager<IdentityUser> userManager

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="About">About</a>
    </div>



    <div class="content px-4">
        @Body
    </div>
</div>

@code
{

}